@charset "utf-8";

body,
h1,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

ul {
    list-style: none;
}

h2,
ul {
    width: 960px;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li + li {
    border-left: 1px solid black;
}

li {
    padding: 10px;
}
